/*
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 11pt;
	}
/*
     FILE ARCHIVED ON 19:38:44 Aug 28, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:33:42 Mar 27, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 119.031
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.061
  RedisCDXSource: 1.899
  esindex: 0.005
  LoadShardBlock: 100.338 (3)
  PetaboxLoader3.datanode: 129.163 (5)
  CDXLines.iter: 15.05 (3)
  load_resource: 230.536 (2)
  PetaboxLoader3.resolve: 152.125 (2)
*/